<section>
   <div id="login-container">
      <h2>Login</h2>

      <form>
         <ul>
            <li>
               <label> for="email-login"></label>
               <input type="email" name="email" class="insert" id="email-login" placeholder="Email">
            </li>  
            <li>
               <label> for="pw-login"></label>
               <input type="pw" name="pw" class="insert" id="pw-login" placeholder="pw-login">
            </li>
            <li>
               <button class="button" id="forgot-pw-btn">Forgot Password?</button>
            </li>            
         </ul>   
      </form>
   </div>

</section>