<section>
   <div id="signup-container">
      <h2>Join The party!?</h2>

      <form>
         <ul>
            
            <li>
               <label for="user-signup">Username:</label>
               <input type="text" class="insert" id="username-signup" placeholder="Username">
            </li>  
            
            <li>
               <label for="email-signup">Email:</label>
               <input type="email" name="email" class="insert" id="email-signup" placeholder="Email">
            </li>  
            
            <li>
               <label for="pw-signup">Password:</label>
               <input type="pw" name="pw" class="insert" id="pw-signup" placeholder="Password">
            </li>
            
            <li>
               <button class="button" id="signup-btn">Sign Up?</button>
            </li>            
         </ul>   
      </form>
   </div>

</section>