<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href=""
   <title>The Techy Codex</title>

</head>

<body>
   <h1>The Techy Codex</h1>
   <h2>This is a blog that consists of coding tidbits, tips, howto's, and general coding comedy.
      My goal is to help you get to the next step on your programming journey.</h2>
   <nav>
  <ul>
    <li><strong>Bravnbright</strong></li>
  </ul>
  <ul>
    <li><a href="#Home">Home</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#forum">Forum</a></li>
    <li><a href="#aboutme" role="button">About Me</a></li>
  </ul>
</nav>

   <main class='blog-post-container'></main>

   {{{body}}}
</body>

</html>