{{#> layouts/main title="The Techy Codex - Register" }}
    <script type="text/javascript" src="js/users/register.js"></script>
    <h1>Register</h1>
    <div id="error-message"></div>
    <label for="register-username">Username:</label>
    <input type="text" id="username-register-input" name="register-username" placeholder="Username">
    <label for="register-username">Email:</label>
    <input type="text" id="email-register-input" name="register-email" placeholder="Email">
    <label for="register-password">Password:</label>
    <input type="password" id="password-register-input" name="register-password" placeholder="Password">
    <button class="submit-button" type="button" onclick="register()">Register</button>
{{/layouts/main}}
